bcrypt==4.1.3
boto3==1.34.137
boto3-type-annotations-with-docs==0.3.1
fastapi==0.111.0
geoip2==4.8.0
pillow==10.4.0
psycopg2-binary==2.9.9
py3rijndael==0.3.3
python-dotenv==1.0.1
python-multipart==0.0.9
redis==5.0.6
requests==2.32.3
sendgrid==6.11.0
sqlalchemy==2.0.31
titanic-pp-py==0.0.6
uvicorn==0.30.1
pydub==0.25.1