bcrypt==4.1.2
boto3==1.34.94
boto3-type-annotations-with-docs==0.3.1
fastapi==0.111.0
geoip2==4.8.0
pillow==10.3.0
psycopg2-binary==2.9.9
py3rijndael==0.3.3
python-dotenv==1.0.1
python-multipart==0.0.9
redis==5.0.4
requests==2.31.0
sendgrid==6.11.0
sqlalchemy==2.0.29
titanic-pp-py==0.0.6
uvicorn==0.29.0